<template>
  <div id="group-browser-container">
    <p>ようこそ！ {{ids}}, {{hhh}}</p>

    <div id="group-browser" class="browse-list d-flex flex-wrap" >
      <div v-for="item in groups" class="browse-item">
        <router-link :to="queryId === item.Value ? `${groupURL}` : `${item.link}`" :id="`group-${item.Value}`">
          <img class="browse-thumbnail" :src="item.thumbnail">
          <span class="browse-text">{{item.Attr.Name}}</span>
        </router-link>

        <div id="active-group-list" class="track-list" v-if="queryId === item.Value">
          <div class="track-list-cover">
            <img :src="visibleGroup.thumbnail">
          </div>

          <ul>
            <li v-for="(track, index) in visibleGroup.items" class="track-list-item">
              <button class="btn btn-link" @click="playItems" :data-track-key="track.Key" :data-track-index="index">
                {{paddingTrackNumber(track['Track #'])}}. {{track.Name}}
              </button>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  const _ = require('underscore');

  export default {
    data() {
      return {
        ids: [],
        queryId: 0,
        groupURL: '',
        groups: [],
        visibleGroup: {
          items: [],
          thumbnail: ''
        }
      };
    },
    props: ['jRiverMCWS'],
    methods: {
      async changeView() {
        this.$emit('content-loading', true);

        this.hhh = location.href;

        this.zoneId = this.$route.params.zoneId;
        this.ids = this.$route.params.groupId.split('/');
        this.queryId = _.last(this.ids);
        console.info(`queryId ${this.queryId}`);
        console.info(`groupId ${this.$route.params.groupId}`);

        // get query id items
        let browse_items = await this.jRiverMCWS.browse(this.queryId);
        if (browse_items.length === 0) {
          // queryId is track list
          this.visibleGroup.items = (await this.jRiverMCWS.files(this.queryId)).Items;

          // get thumbnail url
          this.visibleGroup.thumbnail = this.jRiverMCWS.getBrowseThumbnailUrl(this.queryId);

          // loaded on first time
          if (this.groups.length === 0) {
            const groupHash = this.ids.slice(0, -1).join('/');
            console.info(`groupHash ${groupHash}`);
            this.groupURL = `/${this.zoneId}/browse/${groupHash}`;

            browse_items = await this.jRiverMCWS.browse(_.last(this.ids.slice(0, -1)));
            this.groups = browse_items.map((item) => {
              return _.extend(item, {
                thumbnail: this.jRiverMCWS.getBrowseThumbnailUrl(item.Value),
                link: item.Value === this.queryId ? `/${this.zoneId}/browse/${groupHash}` : `/${this.zoneId}/browse/${groupHash}/${item.Value}`
              });
            });
          }
        } else {
          // queryId is group list
          const groupHash = this.ids.join('/');
          this.groupURL = `/${this.zoneId}/browse/${groupHash}`;

          console.info(browse_items);
          this.groups = browse_items.map((item) => {
            return _.extend(item, {
              thumbnail: this.jRiverMCWS.getBrowseThumbnailUrl(item.Value),
              link: `/${this.zoneId}/browse/${groupHash}/${item.Value}`
            });
          });
        }

        this.$emit('content-loading', false);
        console.info('Update finished.');
      },
      playItems: async function(evt) {
        const list_id = _.last(this.ids);
        const track_id = evt.srcElement.dataset.trackKey;

        await this.jRiverMCWS.playItems(list_id, track_id, this.zoneId);
        this.$emit('change-playback-state');
      },
      paddingTrackNumber(num, count=2) {
        return `00${num}`.slice(-count);
      }
    },
    created: async function() {
      // await this.jRiverMCWS.authenticate();
      this.changeView();
    },
    mounted: async function() {
      console.info('mounted');
    },
    updated: async function() {
      const elem = document.getElementById(`group-${this.queryId}`);

      if (elem) {
        elem.scrollIntoView({
          behavior: 'auto',
          block: 'center',
          inline: 'center'
        });
      }
    },
    watch: {
      $route: 'changeView'
    },
    conputed: {
    }
  };
</script>

<style scoped>
  div {
    color: #FFFFFF;
  }

  .browse-item {
    max-width: 170px;
    text-align: center;
    /*max-height: 140px;*/
  }

  .browse-thumbnail {
    width: 160px;
    height: 160px;
    object-fit: cover;
  }

  .browse-text {
    width: 160px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }

  .track-list {
    width: 100vh;
    background-color: #0FF;
  }

  .track-list-cover {
    width: 100px;
    min-height: 400px;
    min-width: 400px;
    float: left;
    background-color: #888;
  }

  .track-list-cover img {
    width: 100%;
    height: 100%;
  }

  .track-list ul {
    min-height: 100px;
    columns: 3;
    background: #ccc;
    text-align: left;
  }

  .track-list-item {
    list-style-type: none;
    line-height: normal;
  }

  .track-list-item button {
    text-align: inherit;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
