/* ---------------------------------------------------
  VALUES
----------------------------------------------------- */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-vue/dist/bootstrap-vue.css";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "~@fortawesome/fontawesome-free-webfonts/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free-webfonts/css/fa-solid.css";

/* ---------------------------------------------------
  VALUES
----------------------------------------------------- */
:root {
  --sidebar-width: 250px;
  --sidebar-width-m: -250px;

  --controller-height: 80px;

  --sidemenu-background-color: #333333;
  --controller-background-color: #2A2A2A;
}

/* ---------------------------------------------------
  BASICS
----------------------------------------------------- */
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.hidden {
  display: none;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: var(--sidebar-width);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding-bottom: var(--controller-height);
    z-index: 999;
    background: var(--sidemenu-background-color);
    color: #fff;
    overflow: scroll;
    transition: all 0.3s;
}

#sidebar p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#sidebar::-webkit-scrollbar {
  display: none;
}

#sidebar.active {
    margin-left: var(--sidebar-width-m);
}

#sidebar .sidebar-header {
    padding: 20px 20px 0px 20px;
}

#sidebar ul.components {
    padding: 5px 0px;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
}

#sidebar ul li a {
    color: #AAAAAA;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #555555;
    background: #fff;
}

#sidebar ul li>a.router-link-active,
a[aria-expanded="true"] {
    color: #FFFFFF;
    background: #5555AA;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - var(--sidebar-width));
    padding: 40px;
    margin-bottom: var(--controller-height);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #2A2A2A;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 300px) {
    #sidebar {
        margin-left: var(--sidebar-width-m);
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - var(--sidebar-width));
    }
    #sidebarCollapse span {
        display: none;
    }
}
