<template>
  <nav id="controller" class="navbar navbar-expand-sm fixed-bottom">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
      <img :src="playbackJacketURL" class="controller-jacket d-inline-block align-top">
    </a>

    <div class="collapse navbar-collapse" id="controller-infomations">
      <div>
        <div class="playback-info" style="width:100%;">
          {{ playbackInfo.Name }}
        </div>
        <div class="playback-inf" style="width:100%;">
          {{ playbackInfo.Album }}
        </div>
        <div class="playback-inf" style="width:100%;">
          {{ playbackInfo.Artist }}
        </div>
      </div>
    </div>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="nav-content">
      <ul class="navbar-nav" id="player-control">
        <li class="nav-item">
          <button class="nav-link btn btn-link" @click="previous">
            <span class="fas fa-fast-backward fa-2x"></span>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-link" @click="playPause">
            <span class="fas fa-pause-circle fa-4x"></span>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-link" @click="next">
            <span class="fas fa-fast-forward fa-2x"></span>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-link" @click="">Link 4</button>
        </li>
      </ul>
    </div>

    <!-- Zone Changer -->
    <div>
      <b-dropdown id="zone-changer" :text="zoneInfo.currentZone.name" class="m-md-2">
        <b-dropdown-item disabled>Zones</b-dropdown-item>
        <b-dropdown-divider></b-dropdown-divider>
        <b-dropdown-item
          v-for="zone in zoneInfo.zones"
          :key="zone.id"
          :value="zone.name"
          @click="changeZone(zone)">
            {{ zone.name }}
        </b-dropdown-item>
      </b-dropdown>
    </div>

  </nav>
</template>

<script>
  const _ = require('underscore');

  export default {
    data() {
      return {
        refreshTimer: null,
        playbackInfo: {},
        playbackJacketURL: '',
        zoneInfo: {
          currentZone: {
            id: -1,
            name: ''
          },
          zones: ['a']
        }
      };
    },
    props: ['jRiverMCWS'],
    methods: {
      playPause() {
        const zoneId = this.$route.params.zoneId;
        this.jRiverMCWS.playPause(zoneId);
      },
      previous() {
        const zoneId = this.$route.params.zoneId;
        this.jRiverMCWS.previous(zoneId);
      },
      next() {
        const zoneId = this.$route.params.zoneId;
        this.jRiverMCWS.next(zoneId);
      },
      async updatePlayingInformation() {
        const zoneId = this.$route.params.zoneId;
        this.playbackInfo = await this.jRiverMCWS.getPlaybackInfo(zoneId);
        this.playbackJacketURL = this.jRiverMCWS.getAuthorizedURL(`${this.jRiverMCWS.getHostURL()}/${this.playbackInfo.ImageURL}`);
      },
      async updateZoneInformation() {
        const zones = await this.jRiverMCWS.getZones();
        this.zoneInfo.currentZone.id = zones.Zones[+zones.CurrentZoneIndex].Id;
        this.zoneInfo.currentZone.name = zones.Zones[+zones.CurrentZoneIndex].Name;

        this.zoneInfo.zones = _.map(zones.Zones, (z) => {
          return {
            id: z.Id,
            name: z.Name
          };
        });
      },
      async changeZone(targetZone) {
        this.zoneInfo.currentZone = targetZone;

        const params = _.extend({}, this.$route.params, { zoneId: this.zoneInfo.currentZone.id });
        this.$router.replace({ name: 'browse', params: params });
      }
    },
    mounted: async function() {
      await this.updatePlayingInformation();
      await this.updateZoneInformation();

      clearInterval(this.refreshTimer);
      this.refreshTimer = setInterval(async () => {
        await this.updatePlayingInformation();
        await this.updateZoneInformation();
      }, 5000);
    }
  };
</script>

<style>
  #controller {
    height: var(--controller-height);
    max-height: var(--controller-height);
    background: var(--controller-background-color);
    color: #fff;
  }

  #controller .controller-jacket {
    max-width: calc(var(--controller-height) - 10px);
    max-height: calc(var(--controller-height) - 10px);
    border: 1px solid #fff;
  }

  #controller-infomations {
    width: 30%;
  }

  #player-control > li {
    margin: auto;
    color: white;
  }
</style>
