<template>
<nav id="sidebar">
  <div class="sidebar-header">
    <h3>
      <router-link to="/">Musics</router-link>
    </h3>
  </div>

  <ul class="list-unstyled components">
    <p>Library</p>

    <li v-for="item in libraries">
      <router-link :to="`/${currentZoneID}/browse/${item.Value}`">{{item.Attr.Name}}</router-link>
    </li>
  </ul>

  <ul class="list-unstyled components">
    <p>Playlists</p>
  </ul>
</nav>
</template>

<script>
  let item1;
  export default {
    data() {
      return {
        libraries: []
      };
    },
    props: ['currentZoneID', 'jRiverMCWS'],
    methods: {
      async updateBrowse() {
        const browse_list = await this.jRiverMCWS.browse();
        const browse_list2 = await this.jRiverMCWS.browse(browse_list[0].Value);
        Array.prototype.push.apply(this.libraries, browse_list2);

        this.$forceUpdate();
      }
    },
    mounted: async function() {
      this.updateBrowse();
    }
  };
</script>

<style></style>
