<template>
<div class="wrapper">
  <!-- Sidebar -->
  <side-menu
    ref="sideMenu"
    v-bind:jRiverMCWS="jRiverMCWS"
    v-bind:currentZoneID="currentZoneID">
  </side-menu>

  <!-- Controller -->
  <controller ref="controller" v-bind:jRiverMCWS="jRiverMCWS"></controller>

  <!-- Page Content -->
  <div id="content" :class="{'dimming': loadingContents}">
    <router-view
      v-bind:jRiverMCWS="jRiverMCWS"
      @content-loading="onContentLoading"
      @change-playback-state="onChangePlaybackState">
    </router-view>
  </div>

  <!-- Loading modal -->
  <div id="content-loading-modal" v-show="loadingContents">
    <div class="modal-content">
      <span class="fa fa-spinner fa-spin fa-3x"></span>
    </div>
  </div>
</div>
</template>

<script>
  import SideMenu from './components/App/SideMenu';
  import Controller from './components/App/Controller';

  import JRiverMCWS from '../js/jriver_mcws';

  const mcws = new JRiverMCWS('pamela.local', 52199);
  mcws.getAlive();

  export default {
    name: 'jriver-controller',
    components: { SideMenu, Controller },
    data() {
      return {
        jRiverMCWS: mcws,
        currentZoneID: 10003,
        loadingContents: true
      };
    },
    created: async function() {
      await mcws.authenticate();
    },
    mounted: function() {
    },
    methods: {
      onContentLoading(loading) {
        this.loadingContents = loading;
      },
      onChangePlaybackState() {
        console.info('update request');
        this.$refs.controller.updatePlayingInformation();
      }
    }
  };
</script>

<style src="../css/main.css"></style>
<style>
  #content-loading-modal {
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
    height: 100vh;
    z-index: 1000;
    background-color: rgba(50, 47, 45, 0);
  }

  #content-loading-modal div {
    color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 48px;
    height: 48px;
    margin: auto;
    vertical-align: middle;
    border: none;
    background-color: transparent;
  }

  #content.dimming {
    transition: all .2s ease-out;
    filter: brightness(33%);
  }
</style>
